.container_tday_special{
    border-radius: 50px;
    min-height: 90vh;
    margin-top: 10px;
    

    background: rgb(0,0,0);
    background: linear-gradient(138deg, rgba(0,0,0,0.6713060224089635) 0%, rgba(255, 255, 255, 0.199) 100%);
}