.swiper-container {
    width: 100%;
    height: 100%;
    direction: rtl;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    width: 350px;
   
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  .finger_mothions{
    animation: alternate infinite 1s fingermoth;
    color:rgb(226, 136, 0)
  }
  @keyframes fingermoth {
    from{}
    to{margin-left: 10px;}

  }